#canvas1 {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 5px solid black;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
}

.controls {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}

.controls select, option {
    font-size: 25px;
}