
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Home</title>
        <meta name="description" content="HTML5 Template for new projects">
        <meta name="author" content="">

        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <h1>The Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, obcaecati illum, odio eum eaque iste illo quia earum voluptatum excepturi enim sit quam commodi quo. Totam rem debitis sequi dignissimos.</p>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa velit voluptate consequuntur voluptatem, tenetur sequi laudantium optio, nam natus alias magnam dolore error? Repudiandae expedita quae quis neque vel placeat?</p>
        
    </body>
</html>