body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.flexbox-container {
    width: 40%;
    height: 65%;
    background-color: gold;
}

.flexbox-container h2 {
    border: 1px solid black;
    height: 7%;
    font-size: 13pt;
    margin: auto 0;
    padding-top: 5px;
    padding: 0px 0 0 0;
}

.flexbox-item-1 {
    width: 100%;
    height: 40%;
    border: 1px solid red;
}

.flexbox-item-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}